@require('../../layout/header.ejs',{"title":"index"})

12312311111212321312313212221
<div>
    123333111111
</div>
@require('../../layout/footer.ejs',{"title":"about"})
<img src="../../images/test.jpg" alt="">
